* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

main {
  font-size: 2rem;
  border: 1px solid rgb(205, 201, 201);
  box-shadow: 7px 9px 8px -4px rgba(94, 92, 94, 1);
  height: 50rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.inc-dec-action {
  display: flex;
  padding: 1rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

.inc-dec-action button {
  padding: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 3px 6px -3px rgb(88, 87, 88);
}

.inc-dec-action button,
#btn-reset {
  transition: background-color 200ms ease-in-out;
  background-color: #aba8a8;
}

.inc-dec-action button:hover,
#btn-reset:hover {
  background-color: #9a9898;
}

.inc-dec-action button:active,
#btn-reset:active {
  background-color: #716f6f;
}

.input {
  padding: 1rem;
}

#btn-reset {
  padding: 1rem;
  width: 10rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  border: none;
}
